# CS412 - Machine Learning - 2020

# Homework 2

100 pts

# Goal

The goal of this homework is to get familiar feature handling and cross validation.


# Dataset

German Credit Risk dataset, prepared by Prof. Hoffman, classifies each person as having a good or bad credit risk. The dataset that we use consists of both numerical and categorical features.



# Task

Build a k-NN classifier with scikit-learn library to classify people as bad or good risks for the german credit dataset. 

# Software

Documentation for the necessary functions can be accessed from the link below.

[http://scikit-learn.org/stable/supervised_learning.html](http://scikit-learn.org/stable/supervised_learning.html)

# Submission

Follow the instructions at the end.

# 1) Initialize

First, make a copy of this notebook in your drive

In [14]:
# Mount to your drive, in this way you can reach files that are in your drive
# Run this cell
# Go through the link that will be showed below
# Select your google drive account and copy authorization code and paste here in output and press enter
# You can also follow the steps from that link
# https://medium.com/ml-book/simplest-way-to-open-files-from-google-drive-in-google-colab-fae14810674 

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 2) Load Dataset

To start working for your homework, take a copy of the folder, given in the below link to your own google drive. You find the train and test data under this folder.

[https://drive.google.com/drive/folders/1DbW6VxLKZv2oqFn9SwxAnVadmn1_nPXi?usp=sharing](https://drive.google.com/drive/folders/1DbW6VxLKZv2oqFn9SwxAnVadmn1_nPXi?usp=sharing)

After copy the folder, copy the path of the train and test dataset to paste them in the below cell to load your data.

In [15]:
import pandas as pd

train_df = pd.read_csv('/content/drive/My Drive/german_credit_train.csv')
test_df = pd.read_csv('/content/drive/My Drive/german_credit_test.csv')

# 3) Optional - Analyze the Dataset 

You can use the functions of the pandas library to analyze your train dataset in detail - **this part is OPTIONAL - look around the data as you wish**.


*   Display the number of instances and features in the train ***(shape function can be used)**
*   Display 5 random examples from the train ***(sample function can be used)**
*   Display the information about each features ***(info method can be used)**

In [16]:
# Print shape
print("Train data dimensionality: ", train_df.shape)

# Print random 5 rows
print("Examples from train data: ")
train_df.sample(n=5)

Train data dimensionality:  (800, 13)
Examples from train data:

    AccountStatus  Duration CreditHistory  ...  OtherInstallPlans Housing Risk
62            A11        18           A32  ...               A143    A152    1
181           A11        24           A31  ...               A143    A151    2
729           A11        15           A32  ...               A143    A152    1
416           A11        12           A32  ...               A143    A152    2
561           A14        30           A34  ...               A143    A152    1

[5 rows x 13 columns]

In [17]:
# Print the information about the dataset
print("Information about train data ",train_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AccountStatus      800 non-null    object
 1   Duration           800 non-null    int64
 2   CreditHistory      800 non-null    object
 3   CreditAmount       800 non-null    int64
 4   SavingsAccount     800 non-null    object
 5   EmploymentSince    800 non-null    object
 6   PercentOfIncome    800 non-null    int64
 7   PersonalStatus     800 non-null    object
 8   Property           800 non-null    object
 9   Age                800 non-null    int64
 10  OtherInstallPlans  800 non-null    object
 11  Housing            720 non-null    object
 12  Risk               800 non-null    int64
dtypes: int64(5), object(8)
memory usage: 81.4+ KB
Information about train data  None

# 4) Define your train and test labels

*  Define labels for both train and test data in new arrays 
*  And remove the label column from both train and test sets do tht it is not used as a feature! 


(**you can use pop method**)

In [18]:
# Define labels
train_label = train_df.pop('Risk')
test_label = test_df.pop('Risk')

# 5) Handle missing values if any 

*   Print the columns that have **NaN** values (**isnull** method can be used)
*   You can impute missing values with mode of that feature or remove samples or attributes
*   To impute the test set, you should use the mode values that you obtain from **train** set, as **you should not be looking at your test data to gain any information or advantage.**

In [19]:
# Print columns with NaN values
train_df.isnull().sum()

AccountStatus         0
Duration              0
CreditHistory         0
CreditAmount          0
SavingsAccount        0
EmploymentSince       0
PercentOfIncome       0
PersonalStatus        0
Property              0
Age                   0
OtherInstallPlans     0
Housing              80
dtype: int64

In [20]:
# Impute missing values by replacing with mode value
train_df['Housing'] = train_df['Housing'].fillna(train_df['Housing'].mode()[0])
train_df.head()

  AccountStatus  Duration CreditHistory  ...  Age OtherInstallPlans Housing
0           A14        12           A32  ...   38              A143    A152
1           A11         9           A32  ...   25              A143    A152
2           A11        18           A34  ...   36              A143    A153
3           A11        14           A32  ...   45              A143    A152
4           A14        15           A32  ...   40              A143    A152

[5 rows x 12 columns]

# 6) Transform categorical / ordinal features

* Transform all categorical / ordinal features using the methods that you have learnt in lectures and recitation 4 for both train and test data
* You saw the dictionary use for mapping in recitation. (You can use **replace function** to assign new values to the categories of a column).

*  The class of the categorical attributes in the dataset are defined as follows:
  - Status of existing checking account
     - A11 :      ... <    0 DM
	- A12 : 0 <= ... <  200 DM
	- A13 :      ... >= 200 DM / salary assignments for at least 1 year
     - A14 : no checking account

 - Credit history
    - A30 : no credits taken/all credits paid back duly
    - A31 : all credits at this bank paid back duly
	- A32 : existing credits paid back duly till now
    - A33 : delay in paying off in the past
	- A34 : critical account/other credits existing (not at this bank)

  - Savings account
    - A61 :          ... <  100 DM
	- A62 :   100 <= ... <  500 DM
	- A63 :   500 <= ... < 1000 DM
	- A64 :          .. >= 1000 DM
    - A65 :   unknown/ no savings account

 - Employment Since
    - A71 : unemployed
    - A72 :       ... < 1 year
	- A73 : 1  <= ... < 4 years  
	- A74 : 4  <= ... < 7 years
	- A75 :       .. >= 7 years
 
 - Personal Status
    - A91 : male   : divorced/separated
	- A92 : female : divorced/separated/married
    - A93 : male   : single
	- A94 : male   : married/widowed
	- A95 : female : single

  - Property
     -  A121 : real estate
	- A122 : if not A121 : building society savings agreement/life insurance
    - A123 : if not A121/A122 : car or other, not in attribute 6
	- A124 : unknown / no property

 - OtherInstallPlans  
    - A141 : bank
	- A142 : stores
	- A143 : none

 - Housing
    -  A151 : rent
	 - A152 : own
	- A153 : for free

In [21]:
# Transform the categorical / ordinal attributes

savings_map = {'A11':1,'A12':2,'A13':3,'A14':0}
train_df['AccountStatus'] = train_df['AccountStatus'].replace(savings_map)

savings_map = {'A30':4,'A31':3,'A32':2,'A33':1,'A34':0}
train_df['CreditHistory'] = train_df['CreditHistory'].replace(savings_map)

savings_map = {'A61':1,'A62':2,'A63':3,'A64':4,'A65':0}
train_df['SavingsAccount'] = train_df['SavingsAccount'].replace(savings_map)

savings_map = {'A71':0,'A72':1,'A73':2,'A74':3,'A75':4}
train_df['EmploymentSince'] = train_df['EmploymentSince'].replace(savings_map)


dummies_plans = pd.get_dummies(train_df['PersonalStatus'],prefix='status')
train_df = pd.merge(train_df,dummies_plans,left_index=True,right_index=True)
train_df = train_df.drop(columns='PersonalStatus')

dummies_plans = pd.get_dummies(train_df['Property'],prefix='status')
train_df = pd.merge(train_df,dummies_plans,left_index=True,right_index=True)
train_df = train_df.drop(columns='Property')

dummies_plans = pd.get_dummies(train_df['OtherInstallPlans'],prefix='status')
train_df = pd.merge(train_df,dummies_plans,left_index=True,right_index=True)
train_df = train_df.drop(columns='OtherInstallPlans')

dummies_plans = pd.get_dummies(train_df['Housing'],prefix='housing')
train_df = pd.merge(train_df,dummies_plans,left_index=True,right_index=True)
train_df = train_df.drop(columns='Housing')

train_df.head()

   AccountStatus  Duration  ...  housing_A152  housing_A153
0              0        12  ...             1             0
1              1         9  ...             1             0
2              1        18  ...             0             1
3              1        14  ...             1             0
4              0        15  ...             1             0

[5 rows x 22 columns]

In [22]:
savings_map = {'A11':1,'A12':2,'A13':3,'A14':0}
test_df['AccountStatus'] = test_df['AccountStatus'].replace(savings_map)

savings_map = {'A30':4,'A31':3,'A32':2,'A33':1,'A34':0}
test_df['CreditHistory'] = test_df['CreditHistory'].replace(savings_map)

savings_map = {'A61':1,'A62':2,'A63':3,'A64':4,'A65':0}
test_df['SavingsAccount'] = test_df['SavingsAccount'].replace(savings_map)

savings_map = {'A71':0,'A72':1,'A73':2,'A74':3,'A75':4}
test_df['EmploymentSince'] = test_df['EmploymentSince'].replace(savings_map)


dummies_plans = pd.get_dummies(test_df['PersonalStatus'],prefix='status')
test_df = pd.merge(test_df,dummies_plans,left_index=True,right_index=True)
test_df = test_df.drop(columns='PersonalStatus')

dummies_plans = pd.get_dummies(test_df['Property'],prefix='status')
test_df = pd.merge(test_df,dummies_plans,left_index=True,right_index=True)
test_df = test_df.drop(columns='Property')

dummies_plans = pd.get_dummies(test_df['OtherInstallPlans'],prefix='status')
test_df = pd.merge(test_df,dummies_plans,left_index=True,right_index=True)
test_df = test_df.drop(columns='OtherInstallPlans')

dummies_plans = pd.get_dummies(test_df['Housing'],prefix='housing')
test_df = pd.merge(test_df,dummies_plans,left_index=True,right_index=True)
test_df = test_df.drop(columns='Housing')

test_df.head()

   AccountStatus  Duration  ...  housing_A152  housing_A153
0              2        30  ...             1             0
1              1        12  ...             1             0
2              2        20  ...             1             0
3              3        36  ...             1             0
4              0        18  ...             1             0

[5 rows x 22 columns]

# 7) Build a k-NN classifier on training data and perform models selection using 5 fold cross validation

*  Initialize k-NN classifiers with **k= 5, 10, 15**
*  Calculate the cross validation scores using cross_al_score method, number of folds is 5. 
*  Note: Xval is performed on training data! Do not use test data in any way and do not separate a hold-out validation set, rather use cross-validation.

Documentation of the cross_val_score method:

[https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html#sklearn.model_selection.cross_val_score](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html#sklearn.model_selection.cross_val_score)

*  Stores the average accuracies of these folds
*  Select the value of k using the cross validation results.

In [23]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from statistics import mean

# k values
kVals = [5,10,15]

# Save the accuracies of each value of kVal in [accuracies] variable
accuracies = []

# Loop over values of k for the k-Nearest Neighbor classifier
for k in kVals:
  # Initialize a k-NN classifier with k neighbors
  knn = KNeighborsClassifier(n_neighbors=k)

  # Calculate the 5 fold cross validation scores using cross_val_score
  # cv parameter: number of folds, in our case it must be 5
  scores = cross_val_score(knn, train_df, train_label, cv=5)

  # Stores the average accuracies of the scores in accuracies variable, you can use mean method
  accuracies += [mean(scores)]

print(accuracies)

[0.675, 0.7075, 0.71]

# 8) Retrain using all training data and test on test set

* Train a classifier with the chosen k value of the best classifier using **all training data**. 

Note:  k-NN training involves no explicit training, but this is what we would do after model selection with decision trees or any other ML approach (we had 5 diff. models -one for each fold - for each k in the previous step - dont know which one to submit. Even if we picked the best one, it does not use all training samples.

* Predict the labels of testing data 

* Report the accuracy

In [24]:
from sklearn.metrics import accuracy_score

# Train the best classifier using all training set
k=15
knn_best = KNeighborsClassifier(n_neighbors=k)
knn_best.fit(train_df,train_label)



# Estimate the prediction of the test data
y_pred_test = knn_best.predict(test_df)

# Print accuracy of test data
print('Test score for the best model:', accuracy_score(test_label,y_pred_test))

Test score for the best model: 0.665

# 9) Bonus (5pts)

There is a limited bonus for any extra work that you may use and improve the above results. 

You may try a larger k values, scale input features, remove some features, .... Please **do not overdo**, maybe spend another 30-60min on this. The idea is not do an exhaustive search (which wont help your understanding of ML process), but just to give some extra points to those who may look at the problem a little more comprehensively. 

**If you obtain better results than the above, please indicate the best model you have found and the corresponding accuracy.**

E.g. using feature normalization ..... and removing .... features and using a value k=...., I have obtained ....% accuracy.

In [25]:
train_df.head()

   AccountStatus  Duration  ...  housing_A152  housing_A153
0              0        12  ...             1             0
1              1         9  ...             1             0
2              1        18  ...             0             1
3              1        14  ...             1             0
4              0        15  ...             1             0

[5 rows x 22 columns]

In [26]:
train_df = train_df.drop(columns=['housing_A151', 'housing_A152', 'housing_A153'])
test_df = test_df.drop(columns=['housing_A151', 'housing_A152', 'housing_A153'])

k=15
knn_best = KNeighborsClassifier(n_neighbors=k)
knn_best.fit(train_df,train_label)



# Estimate the prediction of the test data
y_pred_test = knn_best.predict(test_df)

# Print accuracy of test data
print('Test score for the best model:', accuracy_score(test_label,y_pred_test))

Test score for the best model: 0.665

# 10) Notebook & Report

**Notebook:** We may just look at your notebook results; so make sure each cell is run and outputs are there.

**Report:** Write an at most 1/2 page summary of your approach to this problem at the end of your notebook; this should be like an abstract of a paper or the executive summary.

**Must include statements such as:**

( Include the problem definition: 1-2 lines )

(Talk about any preprocessing you do, How you handle missing values and categorical features)

( Give the average validation accuracies for different k values and standard deviations between 5 folds of each k values, state which one you selected)

( State what your test results are with the chosen method, parameters: e.g. "We have obtained the best results with the ….. classifier (parameters=....) , giving classification accuracy of …% on test data….""

State if there is any **bonus** work...

You will get full points from here as long as you have a good (enough) summary of your work, regardless of your best performance or what you have decided to talk about in the last few lines.

In this task our problem is trying to find the null datas and assign new values to the categories of a column for using a better knn classifier on training data and perform models. First I load the dataset after that I Analyze the data set after that I define the train and test labels. But there are some missing values in housing column. My solution is transform categorical and ordinal features. I use replace function to assign new values to the categories of a column. After I change the  column I build a k-NN classifier on training data and perform models selection using 5 fold cross validation. Then, I retrain using all training data and test set.

| kVals    |  Accuracies|
|-----------    |:-----------------:|
| 5 |           0.675       |        
| 10 |           0.7075       |        
| 15|           0.71       |

I chose k=15 because it gives me the best accuracy score it is 0.71 and when use the train data for the test data, test score for the best model is 0.665.At the bonus work I dropped the housing  columns instead of using replace function to assign new values to the categories of a column .I use the same k value but this process doesn’t change anything at my Test score for the best model it is again 0.665

# 11) Submission

Please submit your **"share link" INLINE in Sucourse submissions**. That is we should be able to click on the link and go there and run (and possibly also modify) your code. 

For us to be able to modify, in case of errors etc, **you should get your "share link" as **share with anyone in edit mode** 

 **Also submit your notebook as pdf as attachment**, choose print and save as PDF, save with hw2-lastname-firstname.pdf to facilitate grading.